<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088480641083-cimu2ept53nsr5tj5aeinolg21v3n66k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088480641083-cimu2ept53nsr5tj5aeinolg21v3n66k</string>
	<key>API_KEY</key>
	<string>AIzaSyDth3-fRRPBQ_R6mFhS9i5xzz5yYXeP9G4</string>
	<key>GCM_SENDER_ID</key>
	<string>1088480641083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoList</string>
	<key>PROJECT_ID</key>
	<string>todo-app-73a1d</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-73a1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088480641083:ios:e38218f023679ec78b5c1e</string>
</dict>
</plist>